<form class="" action="new" method="post">
  Title: <input type="text" name="title" value=""><br>
  Date: <input type="date" name="date" value=""><br>
  Time: <input type="time" name="time" value=""><br>
  Location: <input type="location" name="location" value=""><br>
  Amount of players needed: <input type="number" name="tilt_amount" value=""><br>
  Host id: <input type="number" name="host_id" value=""><br>

  <input type="submit" name="create" value="Create">
</form>
