<form class="" action="new" method="post">
  First name: <input type="text" name="first_name" value="">
  Last name: <input type="text" name="last_name" value="">
  Phone: <input type="tel" name="phone" value="">
  <input type="submit" name="submit" value="Create">
</form>
