<!DOCTYPE html>
<html>
  <head>
    <title></title>
  </head>

  <body>
    <header>
      <a href="/games">Games</a>
      <a href="/players">Players</a>
      <a href="/leaderboards">Leaderboards</a>
    </header><br>
    <%= yield %>
  </body>
</html>
