<h1>Leaderboards</h1>

Super host: <%= @leader.super_host %><br>
<em>Hosted the most events that tilted.</em><br><br>

Top Dog: <%= @leader.top_dog%><br>
<em>Attended the most events that tilted.</em><br><br>

Too cool for school: <%= @leader.too_cool %><br>
<em>Most invited that doesn't show up.</em><br><br>

Game of the month: <%= @leader.game_of_the_month %><br>
<em>Event this month, with the most attendes, that tilted.</em><br><br>
